.services{
    padding-top: 121px;
    margin-bottom: 120px;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px 30px;
        flex-wrap: wrap;
    }
    &__main{
        max-width: 370px;
        max-height: 300px;
        background-color: $white-color;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 30px 20px 20px 25px;
    }
    &__img{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    &__img-icon{
        height: 80px;
        width: 80px;
    }
    &__number{
        font-weight: 600;
        font-size: 64px;
        line-height: calc(73.2 / 64);
        color: #EFEFEF;
    }
   
    &__title{
        font-size: 25px;
        line-height: calc(38 / 25);
        font-weight: 600;
        color: $heading-color;
        margin-bottom: 5px;

    }
    &__category{
        font-size: 13px;
        font-weight: 300;
        line-height: calc(19 / 13);
        margin-bottom: 15px;
    }
    &__desc{
        line-height: calc(24 / 16);
    }
   
}