:root{
    --color-primaty: #FF5300;
    --color-text:#7B7B7B;
    --color-title:#373737;
    --color-white:#ffffff;
    --color-background:#FFF7F4;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
 }
  
* {
    margin: 0;
    padding: 0;
  }
  
*,
*:before,
*:after {
    box-sizing: border-box;
  }
  
input,
textarea,
select,
button {
    outline: none;
  }
  
input {
    line-height: normal;
  }
  
label,
button {
    cursor: pointer;
  }
  
a {
    text-decoration: none;
  }
  
img {
    display: block;
    max-width: 100%;
  }
  
body{
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.warpper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
  
    
    
}

.btn{
    border-radius: 4px;
    text-decoration: none;
    color: var(--color-title);
    padding: 10px 22px;
    font-weight: 500;
   
   
}
.btn-outline{
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-title);
    line-height: calc(3 / 2);
    
   
}
.btn-primmaty{
  background-color: var(--color-primaty);
  font-size: 2rem;
  line-height: calc(3 / 2);
  color: var(--color-white);
  border-radius: 5px;
  filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
  
}
.btn-study{
    background-color: var(--color-primaty);
    font-size: 20px;
    color: var(--color-white);
    padding: 15px 51px;
    border-radius: 10px;
}
