
/*  Phần heading - menu */
.header{
    padding-top: 30px;
    padding-bottom: 150px;
    background-color: var(--color-background); 
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.logo{
    transform: translateX(-5px);
}
.menu{
    display: flex;
    align-items: center;
    gap: 0 29px;   
}

.menu-toggle {
    display: none;
    font-size: 3rem;
    width: 30px;
    height: 20px;
  }

.menu-toggle i {
    pointer-events: none;
    display: block;
  }

.menu-item--auth {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: none;
    
  }
.menu-link{
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(3 / 2);
    color: var(--color-title);
    text-decoration: none;
    text-align: center;
}

.header-auth{
    transform: translateX(-3px);
}

  @media (hover: hover) {
    .menu-link {
      position: relative;
      transition: all 0.2s linear;
    }
    .menu-link:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: auto;
      right: 0;
      width: 0;
      height: 3px;
      background-color: var(--color-primaty);
      transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    .menu-link:hover {
      color: var(--color-primaty);
    }
    .menu-link:hover:after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
  @media(min-width: 320px) and (max-width: 1023px) {
    .menu{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        width: 300px;
        z-index: 99;
        border-left: 1px solid var(--color-primaty);
        flex-direction: column;
        gap: 10px 0;
        padding-top: 60px;
        align-items: stretch;
        transform: translateX(100%);
        will-change: transform;
        transition: all 0.2s linear;
    }
    .is-show {
        transform: translateX(0);
    }
    
    .menu-link {
      display: block;
      width: 100%;
      padding: 10px;
    }
    .menu-toggle {
      display: inline-flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .header-auth{
        display: none;
    }
    .menu-item--auth {
         display: flex;
      }
  }

/* Phần hero */

.hero{
    background-color: var(--color-background); 
    padding-bottom: 150px;

}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0 24px;  
}

.hero-content{
    width: 100%;
    max-width: 600px;
}

.hero-title{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: calc(7.3 / 4.8);
    color: var(--color-title);
    margin-top: 57px;
    margin-bottom: 18px;
  
}

.hero-desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(2.65 / 1.6);
    color: var(--color-text); 
    display: block;
    margin-bottom: 39px;   
}

.hero-img{
    max-width: 553px;
    width: 100%;
    transform: translateX(10px);
}


@media only screen and (max-width: 1023px) and (min-width: 320px){
    .hero{
        padding-top: 30px;
    }
   
       .hero-container{
        flex-direction: column-reverse;
       }
  }

  @media only screen and (max-width: 415px) and (min-width: 321px){
    .hero-title{
        font-size: 3.8rem;
    }
  }
  @media only screen  and (max-width: 320px){
    .hero-title{
        font-size: 3rem;
    }
  }
  



/* Phần dịch vụ */
.services{
    padding-top: 120px;
    padding-bottom: 120px;
}

.services-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(2.4 / 1.6);
    color: var(--color-primaty);
    margin-bottom: 8px;
    position: relative;
   
}
.services-heading::before{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(150%);
}

.services-heading::after{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    position: absolute;
    bottom: 7px;
    right: 50%;
    transform: translateX(-150%);
   
}

.services-title{
    text-align: center;
    font-size: 3.9rem;
    font-weight: 600;
    line-height: calc(5.9 /3.9);
    color: var(--color-title);
    margin-bottom: 30px;
}

.services-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.services-content{
    width: 370px;
    height: 300px;
    color: var(color-white);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 20px 20px 25px;
    
}

.services-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-avatar{
    margin-bottom: 15px;
}

.services-name{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: calc(3.8 / 2.5);
    color: var(--color-title);
    margin-bottom: 5px;
}

.services-category{
    font-size: 1.28rem;
    font-size: 400;
    line-height: calc(1.9 / 1.28);
    color: var(--color-text);
    margin-bottom: 15px;
}

.services-desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(2.4 /1.6);
    color: var(--color-text);
}



/* Phần About */
.about{
    background-color: var(--color-background);
    padding-top: 120px; 
    padding-bottom: 120px;
}

.about-container{
    display: flex;
    gap: 0  25px;
    justify-content: space-between;
    align-items: center;
}

.about-content{
    width: 100%;
    max-width: 544px;

}
.about-heading{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-primaty);
    line-height: 24px;
    margin-bottom: 15px;
    position: relative;
}

.about-heading::before{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    position: absolute;
    bottom: 7px;
    left: 80px;
    

}
.about-title{
    font-size: 3.9rem;
    font-weight: 600;
    line-height: calc(5.85 / 3.9);
    color: var(--color-title);
    margin-bottom: 20px;
   
      
}

.about-desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 20px;
    display: inline-flex;
}

.about-item{
    display: flex;
    align-items: center;
    gap: 0 17px;
    margin-bottom: 15px;
}

.about-category{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-title);
}

.about-img{
    transform: translateX(20px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1023px) and (min-width: 320px){

    
       .about-container{
        flex-direction: column-reverse;
       }
       .about-content{
        margin-top: 30px;
       }
       
  }

  @media only screen and (max-width: 415px) and (min-width: 321px){
    .about-title{
        font-size: 3rem;
    }
    
  }
  @media only screen  and (max-width: 320px){
    .about-title{
        font-size: 2.8rem;
    }
    
  }
  

  

/* Phần Case Study */
.study{
    padding-top: 120px;
    padding-bottom: 120px;
}

.study-heading{
    font-size: 1.6rem;
    width: 400;
    line-height: calc(2.4 / 1.6);
    color: var(--color-primaty);
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}

.study-heading::before{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(180%);
}

.study-heading::after{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    position: absolute;
    bottom: 7px;
    right: 50%;
    transform: translateX(-180%);
   
}

.study-title{
    font-size: 3.9rem;
    font-weight: 600;
    line-height: calc(5.9 / 3.9);
    color: var(--color-title);
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.study-category{
    display: flex;
    gap: 0 61px;
    margin-bottom: 30px;
}

.study-item{
    font-size: 2rem;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-text);
    text-decoration: none;

}

.study-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.study-gallery::before{
    content: "";
    width: 266px;
    height: 230px;
    position: absolute;
    background: rgba(255, 83, 0, 0.65);
    top: 40px;
    left: 56px;
}

.study-gallery-link{
    content: "";
    width: 37.5px;
    height: 37.5px;
    position: absolute;
    top: 137px;
    left: 173px;

}


@media only screen and (max-width: 1025px){

    .study-category{
       
        gap: 0 30px;
        
    }
    .study-link:last-child{
        display: none;
    }
    .study-gallery::before{
    
        top: 40px;
        left: 160px;
        
    }
    
    .study-gallery-link{
        
        top: 140px;
        left: 280px;
    
    }
   
    
}

@media only screen and (max-width: 1023px){
    .study-category{
       
        display: none;
        
    }
    .study-gallery::before{
    
        top: 40px;
        left: 230px;
        
    }
    
    .study-gallery-link{
        
        top: 140px;
        left: 350px;
    
    }
}
   
@media only screen and (max-width:601px) {
        .study-category{
           
            display: none;
            
        }
        .study-gallery::before{
        
            top: 40px;
            left: 140px;
            
        }
        
        .study-gallery-link{
            
            top: 140px;
            left: 260px;
        
        }

}

@media only screen and (max-width:415px) {
    .study-category{
       
        display: none;
        
    }
    .study-gallery::before{
    
        top: 33px;
        left: 53px;
        
    }
    
    .study-gallery-link{
        
        top: 110px;
        left: 153px;
    
    }
    .study-title{
        font-size: 3rem;
        
    }
}


@media only screen and (max-width:376px) {
    .study-category{
        display: none;
    }
    .study-gallery::before{
        top: 18px;
        left: 30px;    
    }
    
    .study-gallery-link{
        top: 110px;
        left: 153px;
    }

}

@media only screen and (max-width:321px) {
    .study-category{
        display: none
    }
    .study-gallery::before{
        width: 206px;
        height: 170px;
        top: 18px;
        left: 30px;
    }
    
    .study-gallery-link{
        top: 85px;
        left: 120px;
    }

}


/* Phần Testtimonial */

.testimonial{
    background-color: var(--color-background);
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.testimonial-heading{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-primaty);
    display: flex;
    justify-content: center;
    position: relative;
    
    margin-bottom: 15px;
}

.testimonial-heading::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    color: var(--color-primaty);
    left: 50%;
    bottom: 8px;
    transform: translateX(200%);
}
.testimonial-heading::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    color: var(--color-primaty);
    right: 50%;
    bottom: 8px;
    transform: translateX(-200%);
}

.testimonial-title{
    font-size: 39px;
    font-weight: 600;
    line-height: 59px;
    color: var(--color-title);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.testimonial-content{
    display: flex;
    justify-content: center;
    gap:0 30px;
    position: relative;
}

.testimonial-item{
    width: 100%;
    width: 370px;
    
    background-color: var(--color-white);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 25px 24px 25px;
}
.testimonial-item:hover{
    border: 1px solid var(--color-primaty);
    background-color: transparent;
   
    
}


.testimonial-rate{
    display: flex;
    align-items: center;
    gap: 0 14px;
    margin-bottom: 14px;
}

.testimonial-desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text);
    display: inline-flex;
    margin-bottom: 25px;
}

.testimonial-img{
    margin-right: 15px;
}
.testimonial-author{
    display: flex;
    align-items: center;
    
}

.testimonial-name{
    max-width: 193px;
    margin-right: 30px;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(3 / 2);
    color: var(--color-primaty);
}
.testimonial-work{
    font-size: 1.28rem;
    font-weight: 300;
    line-height: calc(1.9 /1.28);
    color: var(--color-text);
}

.testimonial__author-note{
    padding-left: 76px;
}

.testimonial .slick-track {
    display: flex;
    
  }

  .testimonial .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:50%;
    transform: translateY(50%);
    z-index: 10;
    right: 1185px;
  }
  .testimonial.slick-prev {
    border: 1px solid #f53838;
    background-color: transparent;
    right:0;
  }
  

  .testimonial .slick-next {
    /* background-color: #f53838; */
    right:-50px;
  }
  .testimonial .slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 15px;
    transform: translateY(50%);
  }
  .testimonial .slick-dots button {
    font-size: 0;
    background-color: #dde0e4;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    transition: all 0.2s linear;
  }
  .testimonial .slick-dots .slick-active button {
    background-color: #f53838;
    width: 45px;
  }
  .testimonial-item.slick-current.slick-active {
    border-color: #f53838;
    background-color: transparent;
  }
.capabilities{

    padding-top: 120px;
    padding-bottom: 120px;
   
   
}

.capabilities-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
    
}
.capabilities-content{
    width: 100%;
    max-width: 570px;
}

.capabilities-note{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-primaty);
    position: relative;
}

/* .capabilities-note::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    color: var(--color-primaty);
    right: 385px;
    bottom: 8px;
    

 */


.capabilities-note::before{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    position: absolute;
    bottom: 8px;
    left: 138px;
}

.capabilities-heading{
    font-size: 39px;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-title);
    width: 100%;
    max-width: 530px;
    margin-bottom: 18px;
}

.capabilities-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-text);
}
.capabilities-info{
    
    margin-top: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap:0 24px;
}

.capabilities-infor{
    width: 125px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


@media screen and (max-width:1024px) {
   
 
    
}

@media screen and (max-width:1023px) {
   
    .capabilities-container{
       flex-direction: column-reverse;
        
    }
   

    .capabilities-note{
        margin-top: 50px;
    }
}
@media screen and (max-width:415px) {
   
    .capabilities-info{
        flex-direction: column-reverse;
        gap: 24px 0;
    }
       
        
    }
  
.infor-heading{
    font-size: 25px;
    font-size: 600;
    line-height: 150%;
    color: var(--color-primaty);
    text-align: center;
    margin-bottom: 5px;
    padding-top: 11px;
}


.infor-catogery{
    font-size: 13px;
    font-weight: 300;
    line-height: 150%;
    color: var(--color-title);
    text-align: center;
    padding: 0 20px 0 20px;
}

.capabilities-img{
    transform: translateX(-11px);
}

.performance{

    padding-bottom: 120px;
    
}

.performance-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primaty);
    border-radius: 10px;
    height: 273px;
    padding: 69px 56px;
    text-align: center;
    position: relative; 
}


.performance-container::before{
    content:"";
    width: 3px;
    height: 134px;
    background-color: var(--color-white);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 52%;
    transform: translateY(-50%);
     
 }
 .performance-container::after{
      content:"";
      width: 3px;
      height: 134px;
      background-color: var(--color-white);
      border-radius: 4px;
      position: absolute;
      top: 50%;
      right: 25%;
      transform: translateY(-50%);
       
   }
.performance-main::before{
    content: "";
    width: 3px;
    height: 134px;
    background-color: var(--color-white);
    border-radius: 4px;
    position: absolute;
    top:50%;
    left: 22%;
    transform: translateY(-50%);
    
   }
  
.performance-img{
     display: inline;
     align-items: center;
    margin-bottom: 5px;
    
}

.performance-tiitle{
    font-size: 39px;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-white);
    text-align: center;
}

.performance-desc{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-white);
    text-align: center;
}


@media only screen and (max-width: 1023px){
    .performance-container{
        flex-direction: column;
        height: auto;
        gap: 100px 0;
    }
    
    .performance-container::before{
        width: 134px;
        height: 3px;
        top: 25%;
        right: 50%;
        transform: translateX(50%);
         
     }
     .performance-container::after{
        width: 134px;
        height: 3px; 
        top: 50%;
        right: 50%;
        transform: translateX(50%);
           
       }
      
       .performance-main::before{
        width: 134px;
        height: 3px;
        top:74%;
         left: 50%;
        transform: translateX(-50%);
        
       }

  }
  
@media only screen and (max-width: 416px) and (min-width: 230px){

}

.blog{
    padding-top: 120px;
    background-color: var(--color-background); 
}


.blog-note{
    color: var(--color-primaty);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(1.9 / 1.6);
    margin-bottom: 15px;
    text-align: center;
    position: relative;
  
}
.blog-note::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    color: var(--color-primaty);
    left: 50%;
    bottom: 6px;
    transform: translateX(120%);
}
.blog-note::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--color-primaty);
    color: var(--color-primaty);
    right: 50%;
    bottom: 6px;
    transform: translateX(-120%);
}

.blog-title{
    font-size: 3.9rem;
    font-weight: 600;
    line-height: calc(5.9 / 3.9);
    text-align: center;
    color: var(--color-title);
    margin-bottom: 60px;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
}
.blog-content{
    width: 100%;
    max-width: 370px;
    padding: 15px 15px 30px 15px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 90px;
}

.blog-img{
    margin-bottom: 15px;
}

.blog-heading{
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(3 / 2);
    color: var(--color-title);
}

.blog-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    font-size: 1rem;
    line-height: calc(1.9 / 1);
    color: var(--color-text);
}


   

.blog-time-desc{
    font-size: 10px;
    line-height: 19px;
    color: var(--color-text);
}

.blog-desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(2.4 /1.6) ;
    color: var(--color-text);
    margin-bottom: 40px;
}

.blog-btn{
    color: var(--color-white);
    font-size: 2rem;
    line-height: calc(2.5 / 2);
    padding: 13px 23px;
    background-color: var(--color-primaty);
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}



@media only screen and (max-width: 1023px) and (min-width: 320px){
    .blog-container{
  flex-direction: column;
}
  }


  

.mail{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.mail-content{
    background-color: var(--color-background);
    width: 100%;
    height: 200px;
    
}

.mail-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primaty);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 51px 34px 51px 40px;
   
}

.mail-note{
    font-size: 16px;
    font-weight: 400;
    line-height: calc(2.4 / 1.6);
    color: var(--color-white);
    position: relative;
    margin-bottom: 15px;
}

.mail-note::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--color-white);
    color: var(--color-primaty);
    left: 140px;
    bottom: 7px;
    transform: translateX(100%);
}

.mail-title{
    font-size: 3.9rem;
    font-weight: 600;
    line-height: calc(5.9 /3.9);
    color: var(--color-white);

}

.mail-form{
    width: 100%;
    max-width: 642px;
    position: relative;
}

.mail-input{
    list-style-type: none;
    outline: none;
    border: none;
    max-width: 642px;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    padding: 23px 23px 23px; 
}

.mail-btn{
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(3 /2);
    padding: 15px 39px;
    text-decoration: none;
    background-color: var(--color-primaty);
    color: var(--color-white);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    
}


@media only screen and (max-width: 1023px){
    .mail-content{
  flex-direction: column;
 
  padding-bottom: 200px;
}
.mail-form{
    margin-top: 10px;
}

  }
  
@media only screen and (max-width: 416px) and (min-width: 320px){
    .mail{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .mail-content{
  flex-direction: column;
 
  padding-bottom: 300px;
}

.mail-form{
    width: 100%;
    
    position: relative;
}
.mail-btn{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(3 /2);
    padding: 10px 10px;
   
    
}
.mail-note::before{
    
    left: 140px;
    bottom: 7px;
    transform: translateX(100%);
}


}
@media only screen and (max-width:320px){

.mail-note::before{
    display: none;
}
}

.footer{
    background-image: url("/./asset/img/bg-footer.png");
   
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
   
    
}

.footer-main{
    max-width: 279px;
    margin-right: 30px;
}
.footer-logo{
    margin-bottom: 20px;
}

.footer-desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(2.4 / 1.6);
    color: var(--color-white);
   
}

.footer-location-desc{
    font-size:2rem;
    font-weight: 500;
    line-height: calc(3 / 2);
    color: var(--color-white);
   
}

.footer-location{
    max-width: 265px;
}

.footer-heading{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: calc(3.7 / 2.5);
    color: var(--color-primaty);
    margin-bottom: 20px;
}

.footer-phone{
   max-width: 206px;
   margin-right: 94px;
  
}
.footer-mobile{
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(3 / 2);
    color: var(--color-white);
    margin-bottom: 10px;
}
.footer-email{
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(3 / 2);
    color: var(--color-white);
}
.footer-mxh{
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.footer-mxh-facebook{
    color: var(--color-white);
    background-color: var(--color-white);
    padding: 15px 19px 15px 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.footer-mxh-intagam{
    color: var(--color-white);
    background-color: var(--color-white);
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.footer-mxh-skype{
    color: var(--color-white);
    background-color: var(--color-white);
    padding: 16px 16px 16px 16px;
    border-radius: 50%;
    margin-left: 20px;

}
.footer-mxh-tiwiter{
    color: var(--color-white);
    background-color: var(--color-white);
    padding: 16px 14px 16px 14px;
    border-radius: 50%;
    margin-left: 20px;
}

.footer-line{
    width: 100%;
    max-width: 1170px;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    margin-bottom: 6px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    
}
.footer-bottom-desc{
    font-size: 1rem;
    font-weight: 400;
    line-height: calc(2.4 / 1.6);
    color: var(--color-white);
}
.footer-bottom-company{
    height: 20px;
    width: 20px;
}
.footer-bottom-img{

    margin-right: 11px;
}

.footer-column{
    display: flex;
    align-items: center;
    gap: 0 31px;
}
.footer-list{
    display: flex;
    align-items: center;

}


.footer-bottom-arrow{
    content: "";
    position: absolute;
    right:15px;
    bottom: 50%;
    transform: translateY(50%);
}


@media only screen and (max-width: 1025px){
   .footer-social{
    display: none;
   }

  }
  
  
@media only screen and (max-width: 801px) and (min-width: 230px){
    .footer-container{
        flex-direction: column;
       
        
    }
    .footer-bottom{
       
        flex-direction: column;
            }

    .footer-bottom-top{
        display: none;
            }
            .footer-bottom-arrow{
                display: none;
            }
            .footer-bottom-desc{
                margin-top: 20px;
                margin-bottom: 10px;
                
            }
           
            .footer-bottom-desc{
                text-align: center;
                padding-bottom: 10px;
            }
}
